---

layout: default
title : Web Design

---

<h2>Some Important Links for This Week</h2>

<ul>
	<li><a href="http://nycschools.challengepost.com/">NYC Innovation Challenger</a></li>
	<li><a href="http://www.alistapart.com/articles/paperprototyping/">A List Apart: Paper Prototyping</a></li>
	<li><a href="http://vimeo.com/54947368">Kinect on the browser using Node.js</a></li>
</ul>

<h2>October 22, 2012</h2>

<p>I'm at the <a href="http://empirejs.org/">EmpireJS Conference</a> in Manhattan today. It's a pretty awesome JavaScript conference. That said, you have some work to do.</p>

<p>So far, we've learned the basics of HTML and CSS. But that's only half the battle. We've all had the pleasure of using well-design sites and we've all had the displeasure of having to work with sites that resemble a horrible train wreck.</p>

<p>Web design is one part know-how and two-parts good taste. This week, we're focusing on wrapping our heads around what a well-designed web site looks like. Starting next week, you'll be putting your own sites together from scratch. You will get to pick the topic and theme of the site as well as direct the design of the site. (I obviously have veto power over any suggestion, but as long as it's something we both feel comfortable showing off, it should be fine.)</p>

<h3>Your Mission Today</h3>

<ul>
	<li>Read the following two articles on good design:</li>
	<ul>
		<li><a href="http://webdesign.tutsplus.com/articles/design-theory/basix-common-mistakes-in-web-design/">Basix: Common Mistakes in Web Design</a></li>
		<li><a href="http://webdesign.tutsplus.com/articles/design-theory/concept-and-inspiration-design-theory-for-web-designers/">Concept and Inspiration: Design Theory for Web Designers</a></li>
	</ul>
	<li>Complete <a href="https://docs.google.com/a/scholarsnyc.com/spreadsheet/viewform?formkey=dEJ6M2dPaGZrYUNqMldnSGNrYWRFYlE6MQ">this form</a> on three sites that you think are really well done and you'd like to emulate as your get better at web design. (I've included an example below.)</li>
	<li>Draft up a list for three sites you might want to create. I'm going to ask you for your ideas first thing tomorrow. So, be ready.</li>
	<li>Sketch up a crude idea for what you might want your website to look like. Again, I'm going to ask for these first thing Tuesday morning.</li>
</ul>

<h3>Design Review Example</h3>

<p>I like really simple, clean, minimal design. So, a site that I chose as that exemplifies my opinion of good design is <a href="http://daringfireball.net/">Daring Fireball</a>. It's an Apple news site. It's very simple and elegant. The typography is really good and the color scheme makes the site easy to read. That said, I also have some criticisms of the site. First, the font is a bit small for modern computers. John Gruber, the site's founder, has not changed the design since very much since the website was first launched ten years ago. During that time, screen resolution has increased dramatically. His font sizes haven't kept up.</p>

<p>Another example of a simple, clean page that I really like is the <a href="http://google.com">Google homepage</a>. There is nothing on the page that you don't need. Compare it to the <a href="http://yahoo.com">Yahoo! homepage</a>. Interestingly enough, one of the people who fought hardest to keep the Google homepage minimal is Marrisa Mayer, who just took a job as the CEO of Yahoo!. It will be interesting to see how the Yahoo! homepage changes over the next few years.</p>

<h2>Tutorials</h2>

<ul>
{% for post in site.categories.tutorials %}
	<li><a href="{{post.url}}">{{post.title}}</a><span class="date">{% if post.date %} {{post.date | date: "%B %d, %Y"}}{% endif %}</span></li>
{% endfor %}
</ul>

<h2>Assignments</h2>

<ul>
{% for post in site.categories.assignments %}
	<li><a href="{{post.url}}">{{post.title}}</a>{% if post.due %} (Due {{post.due}}){% endif %}</li>
{% endfor %}
</ul>

<h2>Useful Tools and Links</h2>

<ul>
	<li><a href="http://jsbin.com">JSBin</a> is an awesome site for testing out your code live. It has a live preview that lets you see your changes as you make them.</li>
	<li><a href="https://gist.github.com/1400242">A HTML Skeleton</a> is just some basic boilerplate code I wrote for you do that you don't have to write the same stuff over and over again.</li>
</ul>
